@import url(https://fonts.googleapis.com/css?family=Work+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Poppins:400);

/*CSS reset*/

* {
margin: 0; padding: 0; box-sizing: border-box;
}

/*default*/

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    color: #000;
    padding: 1em 0 .2em 0;
}
h2 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    color: #6D6E71;
    margin: 0 2%;
    padding-top: 1em;
}
p {
    font-family: 'Poppins', Arial, sans-serif;
    color: #6D6E71;
    line-height: 1.5em;
}
header {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
    background-color: rgb(255,255,255);
    border-bottom: 1px solid #e2e2e2;
}
main {
    padding-top: 50px;
}
footer {
    background-color: #e2e2e2;
    height: 5em;
    padding: 2em 0;
}
    footer p, footer a {
        color: #000;
        text-decoration: none;
        display: block;
        font-size: .9em;
        margin: 0 2%;
    }
    nav li {
        display: inline-block;
        text-decoration: none;
    }
/*#splash {
    height: 80vh;
    background: url(../images/goding-corridor-after.jpg) no-repeat center center fixed;
    background-size: cover;
}
    #splash h2 {
        font-size: 3.5em;
        color: #fff;
        text-align: center;
        position: relative;
        top: 40%;
    }*/
#logo {
    float: left;
    margin-left: 2%;
    padding-top: .2em;
    max-width: 150px
}
#ourstory p {
    width: 68%;
    margin: 2%;
    float: left;
}
    #ourstory img {
        width: 24%;
        margin: 2%;
        float: right;
    }
    footer li {
        list-style: none;
        font-family: 'Helvetica', Arial, sans-serif;
        float: left;
        margin-left: 2%;
    }
        footer a:hover {
            color: #4dcc67;
            text-decoration: underline;
        }
#copyright {
    float: right;
    font-size: .8em;
}
    .clearfix::after {
        content: " ";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
    }
.wrapper {
    margin: 0 auto;
    max-width: 60em;
}

/*hover effect*/

.container {
    display: inline-block;
    position: relative;
    width: 46%;
    float: left;
    margin: 2%;
}
.dummy {
    padding-top: 75%;
}
.element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver;
}
    .element img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
    }
    .element:after, .element:before {
        position:absolute;
        opacity:0;
        transition: all 0.7s;
        -webkit-transition: all 0.7s;
    }
    .element:after {
        content:'\A';
        width:100%; height:100%;
        top:0; left:0;
        background:rgba(0,0,0,0.7);
    }
    .element:before {
        content: attr(data-content);
        width:96%;
        color:#fff;
        font-size: 1.2em;
        font-family: 'poppins';
        z-index: 1;
        bottom: 35%;
        margin: 2%;
        padding: 5% 0;
        text-align:center;
    }
    .element:hover:after, .element:hover:before {
        opacity:1;
    }

/*navigation menu*/

#menu {
    float: left;
    margin-left: 1.5em;
}
    #menu ul {
        list-style: none;
        background-color: rgb(255,255,255);
        position: absolute;
        display: none;
    }
    #menu>li {
        float: left;
        position: relative;
        margin: 0 1.2em;
        border-top: 3px solid #fff;
    }
        #menu a:link, #menu a:visited {
            display: block;
            font-family: 'Poppins', Arial, sans-serif;
            font-size: 1em;
            text-align: left;
            text-decoration: none;
            color: #6D6E71;
            padding: .625em 0;
        }
        #menu>li:hover {
            border-top: 3px solid #4dcc67;
        }
        #menu li:hover ul {
            display: block;
        }
        #menu a:hover {
            color: #4dcc67;
        }
    #menu .arrow {
        color: #4dcc67;
    }
.submenu {
    border: 1px solid #6D6E71;
    padding: 0 1em;
    z-index: 8000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
    .submenu>li {
        float: left;
        display: block;
        font-size: .9em;
        width: 12em;
    }
        .submenu li + li {
            border-top: 1px solid #e2e2e2;
        }
        .submenu a:link, .submenu a:visited {
            padding: 0 .5em;
        }

/*owlCarousel*/

.lazyOwl {
    height: 100%;
    display: block;
    margin: auto;
    text-align: center;
}
    .owl-carousel img {
        position: absolute;
        display: block;
        margin: auto;
        top: 0;
        bottom: 0; 
    }
        .owl-carousel a .item {
            position: relative;
            height: 0;
            padding-top: 70%;
        }
#sync1, #sync2 {
    width: 96%;
    margin: 2%;
}
#sync2 {
    padding: 5px 10px 10px 0;
    background:#e2e2e2;
}
    #sync2 img {
        width: 100%;
        margin: 5px 10px;
    }
    #sync1 .item, #sync2 .item {
        background: #e2e2e2;
    }
        #sync2 .synced img {
            margin-top: -5px;
            box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.4);
        }